<header class="row theme-color">
  <img src="/static/images/logo.png" id="logo" class="visible"/>
  <section id="menu">
    <a href="/"><span class="menu-options">Home</span></a>
    <a href="/projects"><span class="menu-options">Projects</span></a>
    <a href="/contact"><span class="menu-options">Contact</span></a>
    <a href="https://blog.dhruv.tech/"><span class="menu-options">Blog</span></a>
  </section>
</header>